.favorite-ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-top: 20px;
  align-items: center;
  max-width: 1000px;
}

.favorite-li {
  list-style-type: none;
  margin-left: 5px;
}

.favorite-ul > :first-child {
  margin-left: 0px;
}
